.*
*.md
suit_*
libcsuit.a
libcsuit.so
bin/*
tmp/*
test/libcsuit_test
test/result.txt
CMakeLists.txt
QCBOR
t_cose
mbedtls
obj
*Dockerfile
Doxyfile
html
tags
*.pdf
*.md
misc/*.md
misc/*.py
misc/*.patch
