[submodule "misc/cloc"]
	path = misc/cloc
	url = https://github.com/AlDanial/cloc.git
[submodule "QCBOR"]
	path = 3rdparty/QCBOR
	url = https://github.com/laurencelundblade/QCBOR
[submodule "t_cose"]
	path = 3rdparty/t_cose
	url = https://github.com/kentakayama/t_cose
[submodule "3rdparty/mbedtls"]
	path = 3rdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
